@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color-1:#F9F4FB;
    --background-color-2:#E884C4;
    --background-color-3:#BA71FF;
    --Title-color:#3F374E;
    --TitleSize:2.2rem;
    --subTitleSize:1.5rem;
    --paraSize:1rem;
    --para-small-size:0.9rem;
}
body{
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background: var(--background-color-1);
    font-family: 'Poppins';
}


/* home section started */
.Home-section{
height: 100vh;
}
.Home-section .home-inner-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 7rem 0 10rem;
}
.Home-section .home-inner-sec .section-1{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.Home-section .home-inner-sec .section-1 h1{
    font-size: var(--TitleSize);
    color: var(--Title-color);
    letter-spacing: .50px;
    font-weight: 700;
    line-height: 48px;
}
.Home-section .home-inner-sec .section-1 p{
    font-size: var(--paraSize);
    color: var(--Title-color);
}
.Home-section .home-inner-sec .section-1 .button-section{
    display: flex;
    gap: 12px;
}
 button{
background: linear-gradient(to right bottom, var(--background-color-3),var(--background-color-2));
border: none;
padding: 12px 20px;
cursor: pointer;
color: #fff;
width: 150px;
font-size: var(--para-small-size);
border-radius: 2px;
}
 button:hover{
    color: var(--Title-color);
    background: none;
    border-bottom: 1.50px solid #E884C4;
}
/* home section ended */

/* about section started */
.About-section{
    height: 100vh;
    padding: 2rem 4rem;
}
.About-section .search-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 2.6rem;
}
.About-section h1{
    text-align: center;
    font-size: var(--TitleSize);

}
.container {
    position: relative;
    background: var(--background-color-2);
    border-radius: 1000px;
    padding: 5px;
    display: grid;
    place-content: center;
    z-index: 0;
    max-width: 300px;
    margin: 0 10px;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    border-radius: 50px;
    background: var(--background-color-1);
    padding: 3px;
    display: flex;
    align-items: center;
  }
  
  .search-container::after, .search-container::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
  }
  
  .search-container::before {
    top: -1px;
    left: -1px;
    background: var(--background-color-1);
    z-index: -1;
  }
  
  .search-container::after {
    bottom: -1px;
    right: -1px;
    background: linear-gradient(0deg, rgb(163, 206, 255) 0%, rgb(211, 232, 255) 100%);
    box-shadow: #D67CDD 3px 3px 5px 0px, #D67CDD 4px 4px 14px 0px;
    z-index: -2;
  }
  
  .input {
    padding: 10px;
    width: 100%;
    background: var(--background-color-1);
    border: none;
    color: var(--Title-color);
    font-size: 18px;
    border-radius: 50px;
  }
  
  .input:focus {
    outline: none;
    background: var(--background-color-1);
  }
  
  .search__icon {
    width: 50px;
    aspect-ratio: 1;
    border-left: 2px solid var(--Title-color);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 10px;
  }
  
  .search__icon:hover {
    border-left: 3px solid var(--Title-color);
  }
  
  .search__icon path {
    fill: var(--Title-color);
  }
  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--background-color-3);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 20px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: var(--paraSize);
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 200px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

  /* About section closed */

  /* course section started */
.Course-section{
    background: linear-gradient(-45deg,var(--background-color-2),var(--background-color-3));
    padding: 2rem 5rem;
    background-size: 200% 200%;
    animation: animateCourse 4s ease infinite;
}
.Course-section:hover{
    background: linear-gradient(to right bottom,var(--background-color-3),var(--background-color-2));
}
.Course-section h1{
    text-align: center;
    font-size: var(--TitleSize);
    letter-spacing: .80px;
}
.Course-section p{
    text-align: center;
    font-size: var(--paraSize);
}
.Course-section .cards{
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 3rem;
}
.Course-section .cards .card{
    background: #fff;
    padding: 14px 14px 10px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.Course-section .cards .card img{
    width: 100%;
    border-radius: 14px;
}
.Course-section .cards .card .content h2{
    color: var(--Title-color);
    font-size: var(--subTitleSize);
    line-height: 30px;
}
.Course-section .content .info{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 18px;
}
.Course-section .content .info .box{
    background: var(--background-color-2);
    color: #fff;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: var(--para-small-size);
    display: flex;
    gap: 10px;
    align-items: center;
}

.Course-section .content .course{
    display: flex;
    justify-content: space-between;
    padding: 18px 0 10px;
    position: relative;
}
.Course-section .content .course::before{
    content: '';
    width: 100%;
    height: .80px;
    position: absolute;
    background: var(--Title-color);
}
.Course-section .content .course p:first-child{
    padding-top: 8px;
font-size: 18px;
color: var(--Title-color);
font-weight: 700;
display: flex;
gap: 4px;
align-items: baseline;
}
.Course-section .content .course p:last-child{
    padding-top: 8px;
    font-size: var(--para-small-size);
    color: var(--background-color-2);
}
@keyframes animateCourse {
    0%{
        background-position: 0 60%;
    }
    50%{
        background-position: 100% 40%;
    }
    100%{
        background-position: 0 60%;
    }
}

/* course section ended */

/* feature section started */
.fearture-section{
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.fearture-section .section1 h2{
    font-size: var(--subTitleSize);
    line-height: 32px;
}
.fearture-section .section1 p{
    font-size: var(--para-small-size);
    color: var(--Title-color);
    margin: 10px 0 14px;
}
.fearture-section .section1 .list{
    display: flex;
    gap: 28px;
    margin: 10px 0 20px;
}
.fearture-section .section1 .list ul{
    list-style-position: inside;
}
.fearture-section .section1 .list ul li{
    margin-top: 4px;
    padding-left: 8px;
}
.fearture-section .section2 {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fearture-section .section2 svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
 .fearture-section .section2 svg path{
    box-shadow: 10px 10px 10px 10px var(--background-color-3);

}
.fearture-section .section2 img {
    position: relative;
    width: 300px; /* Adjust as per requirement */
    height: 300px;
    border-radius: 50%; /* This gives the image a circular shape */
    object-fit: cover; /* Ensure the image fits well within the container */
    z-index: 2;
    background-position: top;
    background-size: contain;
}